@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(https://afeld.github.io/emoji-css/emoji.css);


html { height: 100%; }

body { height: 100%;
       font-size: 16px;
       background: #ffff4c;
       font-family: 'Lato';
        }

@media (max-width: 960px) {
        * {
      overflow-x: hidden;
      overflow-y: hidden;
      }}


  .centered {
   position: absolute;
  top: 15%;
 left: 15%;
  margin-top: -50px;
  margin-right: 250px;
     text-align: center;
    color: white;
    font-family: Helvetica;
font-size: 450%;
    font-weight: 500;
}
@media (max-width: 960px) {
.centered {
    display: none;
}}

#mobiletext{
  position: absolute;
 top: 15%;
left: 15%;
 margin-top: -50px;
 margin-right: 250px;
    text-align: center;
   color: white;
   font-family: Helvetica;
font-size: 3.0vh;
   font-weight: 500;
}
@media (min-width: 960px) {
#mobiletext{
  display: none;
}}


#page{
       -webkit-animation-duration: 3s;
}


.box {
  position: relative;
  max-width: 480px;
  top: 300px;
right: -23%;
}
@media (max-width: 960px) {
.box {
    display: none;
}}


#emojisgroup{
  position: relative;
  right: 19%;
}


#password-strength{
 position: absolute;
  margin-bottom: 550px;
  margin-left: 450px;
     text-align: center;
}

.emojis {
     position: absolute;

  margin-top: 340px;
  margin-left: 420px;
}

#wrapper {
    margin-left:auto;
    margin-right:auto;
    width:960px;
}

 #normal{

  visibility: hidden;

  font-size: 200%;
}

 #medium{
  visibility: hidden;

  font-size: 200%;
}

 #medium2{
  visibility: hidden;

  font-size: 200%;
}

 #strong{

  visibility: hidden;

  font-size: 200%;
}

 #verystrong{

  visibility: hidden;

  font-size: 200%;
}

.emojitext {
text-align: center;
    color: white;
    font-family: Helvetica;
font-size: 200%;
    font-weight: 900;
}
